/* In class refactor. */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: Helvetica, arial, sans-serif;
}
li{
  list-style: none;
  display: inline-block;
}
a{
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: bold;
  color: #000;
}
.octocat {
  margin: 1.25rem;
}

.octocat > img::after{
  content: "";
  height: 0;
  width: 0;
  border-top: solid 10px #DEDEDE;
  border-right: solid 10px transparent;
  border-bottom: solid 10px transparent;
  position: absolute;
  top: 2000px;
  right: 100%;
}
.octocat img:not(.authors img) {
  /* Changed the color in class. */
  border: 2px solid #D7D7D7;
  /* Added in class. */
  border-radius: 3px;
  width: 20rem;
  position: relative;
}

.authors img {
  width: 1.875rem;
}
.image-caption{
  float: right;
}
ul .image-caption {
  padding-top: .2rem;
}
.authors{
  float:right;
  text-align: right;
  padding: 0;
}
.image-footer{
  border-bottom: 2px solid #c2ab86aa;
  padding-bottom: 1rem;
}

.image-number {
  color: #c2ab86aa;
  display: inline-block;
  margin: .3125rem;
}
.image-number:before{
  content: "#";
}
.image-footer{
  margin-top: 1.25rem;
}
