li{
  list-style: none;
  display: inline-block;
}
a{
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: bold;
  color: #000;
}
.octocat img:not(.authors img) {
  border: 2px solid #c2ab86aa;
  width: 20rem;
}

.authors img {
  width: 1.875rem;
}
.image-caption{
  float: right;
}
.authors{
  float:right;
}
.image-footer{
  border-bottom: 2px solid #c2ab86aa;
  padding-bottom: 1rem;
}
.image-number {
  color: #c2ab86aa;
  display: inline-block;
  margin: .3125rem;
}
